
.home .features
    align-items stretch !important

.home .features .feature
    flex-basis 25%
    max-width 25%
    box-sizing border-box
    display flex
    flex-direction column
    align-items center
    p
      flex-grow 2
      text-align center
    .button
      align-self center

@media (max-width: $MQMobile)
  .home
    .features
      flex-direction column
      .feature
        max-width 100%
        padding 0 2.5rem


.button
    display inline-block
    font-size 1.2rem
    color #fff
    background-color $accentColor
    padding 0.8rem 1.6rem
    border-radius 4px
    transition background-color .1s ease
    box-sizing border-box
    border-bottom 1px solid darken($accentColor, 10%)
    text-decoration none
    whitespace no-wrap
    &:hover
      text-decoration none
      background-color lighten($accentColor, 10%)

.button.light
      background-color $lightButtonColor
      border-bottom 1px solid darken($lightButtonColor, 10%)
      &:hover
        background-color lighten($lightButtonColor, 10%)
